<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="layout/AppLayout.html :: header"></header>
</head>
<body>
<div th:insert="layout/AppLayout.html :: nav"></div>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center w-100">
        <div class="col-3 d-flex justify-content-center">

            <div class="card w-100 custom-card text-center mb-3">
                <div class="card-body">
                    <h5 class="text-primary card-title">Autosys Analyzer</h5>
                    <hr/>
                    <p class="card-text">Analyze the Autosys definitions</p>
                    <a href="/Autosys/Landing" class="btn btn-outline-info text-success fw-medium">Manage Autosys</a>
                </div>
            </div>

        </div>
        <div class="col-3 d-flex justify-content-center">

            <div class="card w-100 custom-card text-center mb-3">
                <div class="card-body">
                    <h5 class="text-primary card-title">Monitoring</h5>
                    <hr/>
                    <p class="card-text">Lower Environment Monitoring</p>
                    <a href="/Autosys/Landing" class="btn btn-outline-info text-success fw-medium">Monitoring</a>
                </div>
            </div>

        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="card w-100 custom-card text-center mb-3">
                <div class="card-body">
                    <h5 class="text-primary card-title">Monitoring</h5>
                    <hr/>
                    <p class="card-text">Release Management</p>
                    <a href="/Autosys/Landing" class="btn btn-outline-info text-success fw-medium">Monitoring</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="card w-100 custom-card text-center mb-3">
                <div class="card-body">
                    <h5 class="text-primary card-title">Monitoring</h5>
                    <hr/>
                    <p class="card-text">Lower Environment Monitoring</p>
                    <a href="/Autosys/Landing" class="btn btn-outline-info text-success fw-medium">Monitoring</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
